.container {
  margin: 76px 0 0 205px;
  padding: 24px;
  text-align: left;
  height: calc(100vh - 76px);
  position: relative;
}

.modalTitle {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.modalMessage {
  color: rgba(0, 0, 0, 0.72);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  text-align: center;
  margin: 0;
  padding: 0;
}
.modal a {
  color: #076AC9;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}