.wrapper {
  position: relative;
  padding-top: 2px;
}

.itemWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.itemWrapperCompleted {
  align-items: baseline;
}

.itemDivider {
  margin: 16px -24px;
  height: 1px;
  background: #F2F2F2;
  border: none;
}

.period {
  position: relative;
  width: 128px;
  padding-top: 16px;
}
.period button {
  background: none;
  border: none;
  color: #0863A3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  text-align: left;
}

.editor {
  position: relative;
  width: 50%;
}

.actions {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}
.actions button {
  background: none;
  border: none;
  padding: 4px 10px;
  border-radius: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}
.actions button:hover {
  background: #F2F2F2
}
.actions button:active {
  background: #076AC9;
}
.actions button span {
  color: #076AC9;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  display: none;
}
.actions button:hover span {
  display: inline-block;
}
.actions button:active span {
  color: #FFFFFF;
}


.btnDisabled {
  padding: 4px 0 4px 10px;
}
.btnDisabled .icon svg path {
  fill: #00000040;
}
.actions .btnDisabled:hover {
  background: none;
  padding: 4px 0 4px 10px;
}
.actions .btnDisabled:hover .icon svg path {
  fill: #00000040;
}
.actions .btnDisabled:hover span {
  display: none;
}

.icon {
  width: 20px;
  height: 20px;
}
.icon svg path {
  fill: #00000080;
}
.actions button:hover .icon svg path {
  fill: #076AC9;
}
.actions button:active .icon svg path {
  fill: #FFFFFF;
}

.doneData {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.history {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  border: 1px solid #C4C3C4;
  background: #FFF;
  border-radius: 6px;
  z-index: 20;
}
.history h5 {
  display: flex;
  padding: 18px 20px;
  gap: 8px;
  justify-content: flex-start;
  align-content: center;
}
.history h5 div {
  display: flex;
  align-content: center;
  align-items: center;
}
.history h5 div svg {
  display: block;
  width: 14px;
  height: 14px;
}
.history h5 span {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.historyList {
  max-height: 180px;
  overflow: auto;
}
.historyItem {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  padding: 12px 20px;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.historyItem:hover {
  background: rgba(0, 0, 0, 0.05);
}
.historyItem p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.historyItemUser {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
.historyItemUserProfile {
  display: block;
  width: 24px;
  height: 24px;
  background: #D9D9D9;
  border-radius: 50%;
}
.historyItemUserUsername {
  display: block;
  color: rgba(0, 0, 0, 0.72);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-right: 10px;
}
.historyItemUserTime {
  display: block;
  color: rgba(0, 0, 0, 0.72);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.grammarError {
  color: #FF4343;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration-line: line-through;
}
.grammarSuggestion {
  color: #17AAA3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}