.wrapper {
  position: relative;
  padding-top: 2px;
}

.itemWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 24px;
}

.itemDivider {
  margin: 16px -24px;
  height: 1px;
  background: #F2F2F2;
  border: none;
}

.period {
  position: relative;
  width: 128px;
}
.period button {
  background: none;
  border: none;
  color: #0863A3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  text-align: left;
}

.editor {
  position: relative;
  width: 50%;
}

.actions {
  position: relative;
}

.doneData {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0;
}